{%extends '../../layout.njk'%}

{%block content%}
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Editar artigo</h2>
        </div>
        <div class="card-body">
            <form action="/admin/articles/edit/{{article.id}}" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="title" placeholder="Insira o titulo do artigo" value="{{article.title}}">
                </div>
                <div class="form-group">
                    <label for="category">Categorias</label>
                    <select name="categoryId" id="category" class="form-control">
                        {%for category in categories%}
                            {%if category.id == article.categoryId%}
                            <option value="{{category.id}}" selected>{{category.title}}</option>
                            {%endif%}
                            <option value="{{category.id}}">{{category.title}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="form-group">
                    <textarea  id="article" class="form-control"name="body" placeholder="Escreva o artigo aqui">{{article.body}}</textarea>
                </div>
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>

</div>
{%endblock%}