{%extends '../../layout.njk'%}

{%block content%}
    <div class="container">
        <hr>
        <h2>Artigos</h2>
        <a href="/admin/articles/new" class="btn btn-success">Criar novo artigo</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>Categorias</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {%for article in articles%}
                    <tr>
                        <td>{{article.id}}</td>
                        <td>{{article.title}}</td>
                        <td>{{article.slug}}</td>
                        <td>{{article.category.title}}</td>
                        <td>
                        <a href="/categories/edit/{{category.id}}" class="btn btn-warning">Editar</a>

                        <form action="/articles/delete" method="POST" id="formDelete" onSubmit="confirmDelete(event,this)" style="display: inline">
                            <input type="hidden" name="id" value="{{article.id}}">
                            <button class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>

{%endblock%}