{%extends "../../layout.njk"%}

{%block content%}
<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <h2>Criação de usuário</h2>
        </div>
        <div class="card-body">
            <form action="/users/create" method="POST">
                <input type="email" name="email" class="form-control" placeholder="email@example.com"><br>
                <input type="password" name="password" class="form-control" placeholder="***********">
                <button type="submit" class="btn btn-success btn-block">Criar</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}