{%extends '../../layout.njk'%}

{%block content%}
    <div class="container">
        <hr>
        <h2>Categorias</h2>
        <a href="/admin/categories/new" class="btn btn-success">Criar nova categoria</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {%for category in categories%}
                <tr>
                    <th>{{category.id}}</th>
                    <th>{{category.title}}</th>
                    <th>{{category.slug}}</th>
                    <th>
                        <a href="/admin/categories/edit/{{category.id}}" class="btn btn-warning">Editar</a>
                        <form action="/admin/categories/delete" method="POST" id="formDelete" onSubmit="confirmDelete(event,this)" style="display: inline">
                            <input type="hidden" name="id" value="{{category.id}}">
                            <button class="btn btn-danger">Eliminar</button>
                        </form>
                    </th>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>

{%endblock%}